.to-main {
    display: inline;
}

fieldset {
    border-color: var(--text-color);
}

.user-authorities fieldset {
    width: 20vw;
}

img {
    width: 15vw;
    height: 15vh;
    display: inline-block;
}

.product-info {
    display: inline-block;
    vertical-align: top;
}