body {
    background-color: var(--body-colour);
    height: 100%;
    text-align: center;
}

.main {
    color: var(--text-color);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    transform: translateY(100%);
}


a {
    color: var(--text-color);
    text-decoration: none;
}

button {
    background-color: var(--support-colur);
}