:root {
    --body-color: #111;
    --support-color: #2b2b2b;
    --text-color: #5bc5cf;
    --highlight-color: #adc128;
}

html,
body {
    background-color: var(--body-color);
    color: var(--text-color);
}

fieldset {
    border-color: var(--text-color);
}

.button {
    border: 1px solid var(--text-color);
    border-top: transparent;
    border-bottom: transparent;
    padding: 0.5%;
    background-color: var(--support-color);
    transition: all 1s;
    color: var(--text-color);
}

.button:hover {
    background-color: var(--body-color);
    transition: all 1s;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.no-pad-mar {
    margin: 0px;
    padding: 0px;
}

.hint {
    text-align: center;
    color: var(--highlight-color);
}

.direction {
    width: 25%;
}

.highlight {
    color: var(--highlight-color);
}

*:focus {
    outline: none;
}

* {
    font-size: 20px;
    margin: 1%;
}

.max-width {
    width: 100%;
}

.even-spacing {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.even-spacing-up-down {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.border-spacing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

input {
    background-color: var(--support-color);
    color: var(--text-color);
    border: 1px solid;
    border-top: transparent;
    border-bottom: transparent;
}