html,
body {
    background-color: var(--body-colour);
    height: 100%;
    color: var(--text-color);
    margin: 0px;
}

.centered {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

form {
    width: 15vw;
}

.menu-top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0px;
    position: sticky;
    top: 0px;
    z-index: 1;
    height: min-content;
    background: var(--support-colur);
}

.purchase-data {
    width: 7%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.selection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: relative;
    top: 2%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.item img {
    width: 15vw;
}

.item button {
    padding: 3%;
}

.item {
    display: flex;
    height: -webkit-fill-available;
    width: fit-content;
    margin: 0px;
    padding: 3%;
    border: solid 1px transparent;
    border-image: linear-gradient(to right bottom, var(--text-color) 0%, transparent 50%, var(--text-color)) 1 1%;
    align-content: stretch;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.item-selected {
    border: solid 1px;
}

.user-highlight {
    color: var(--highlight-color);
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes add_animation {
    from {
        color: var(--body-colour);
    }

    to {
        color: var(--highlight-color);
    }
}

.play-add_animation {
    animation: add_animation 500ms ease 0ms 1 normal forwards;
}

.item-count {
    color: var(--text-color);
}