body {
    background-color: var(--body-colour);
    color: var(--text-color);
}

.content {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

div {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
}


input {
    background-color: var(--support-colur);
    color: var(--text-color);
    border: 1px solid;
    border-top: transparent;
    border-bottom: transparent;
}