body {
    background-color: var(--body-colour);
    color: var(--text-color);
}

.content {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

div {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
}