<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="../../css/global.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/index.css">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <title>Fruit Shop XXX</title>
    <link rel="icon" type="image/png" th:href="@{/imgs/favicon/favicon-32x32.png}">
</head>

<body>
    <div class="menu-top">

        <div class="user-data">
            <span th:if="${username == null}" class="highlight">
                Not Logged In!
            </span>
            <span th:if="${username != null}">Logged In As:
                <br>
                <a th:href="@{/user/{username}(username = ${username})}" id="username" name="username" class="highlight"
                    th:text="${username}">Not Logged In!</a>
            </span>
            <form th:method="POST" th:action="@{/logout}" th:if="${username != null}">
                <input type="submit" value="Logout" class="button">
            </form>
            <form th:method="POST" th:action="@{/hello}" th:if="${username == null}">
                <input type="submit" value="Login" class="button">
            </form>
        </div>

        <form id="purchase-form" th:action="@{/purchase}" method="POST" class="purchase-data">
            <input type="hidden" id="order-data" name="order-data">
            <span id="item_count" class="item-count">0</span>
            <button type="button" class="button" onclick="purchase()">Buy</button>
        </form>
    </div>


    <form th:action="@{/}" th:method="get" class="even-spacing max-width">
        <input type="hidden" name="offset" th:value="${offset}">
        <input type="submit" class="button direction" name="action" value="Previous">
        <input type="submit" class="button direction" name="action" value="Next">
    </form>

    <div class="selection">
        <span th:id="'span'+${fruit.getId()}" th:each="fruit : ${fruits}" class="item centered">
            <img src="" alt="">
            <img
                th:src="(${fruit.getImgName() ne null}) ? (@{'imgs/' + ${fruit.getImgName()} +'.png'}) : (@{imgs/Default.png})">
            <p th:text="${fruit.getName()}">Name</p>
            <p th:text="${fruit.getFreshState()}">Fresh</p>
            <div class="quantity">
                <input type="button" th:id="${fruit.getId()+'sub'}" th:value="'-'" onclick="updateQuantity(this)">
                <input type="number" min="0" max="1000" name="order-quantity" th:id="${fruit.getId()+'quantity'}"
                    th:value="${order != null ? (order.containsKey(fruit.getId()) ? order.get(fruit.getId()) : 0):0}"
                    oninput="validateNumber(this)">
                <input type="button" th:id="${fruit.getId()+'add'}" th:value="'+'" onclick="updateQuantity(this)">
            </div>
            <button th:id="${fruit.getId()}" class="button" onclick="addThisItem(this)">Add</button>
        </span>

    </div>

</body>

</html>