<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="../../css/global.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/index.css">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <title>XD Shop</title>
</head>

<body>
    <div class="menu-top">
        <form th:method="POST" th:action="@{/logout}">
            <span id="username" name="username" th:text="${username}">Not Logged In!</span>
            <input type="submit" value="Logout" class="button">
        </form>
        <div class="purchase-data centered">
            <span id="item_count" class="item-count">0</span>

            <span class="button">
                <a href="/hi">Buy</a>
            </span>
        </div>
    </div>


    <div class="selection">
        <span th:each="fruit : ${fruits}" class="item centered">
            <img src="" alt="">
            <!-- <img src="resources/imgs/Avocado.jpg" /> -->
            <img th:src="@{'imgs/'+${fruit.getImgName()}}">
            <p th:text="${fruit.getName()}">Name</p>
            <p th:text="${fruit.getFreshState()}">Fresh</p>
            <button th:id="${fruit.getId()}" class="button" onclick="addThisItem(this)">Add</button>
        </span>

    </div>

</body>

</html>