<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="../../css/global.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/index.css">
    <title>INDEX PAGE</title>
</head>

<body>

    <form th:method="POST" th:action="@{/logout}">
        <span id="username" name="username" th:text="${username}">Yes</span>
        <input type="submit" value="Logout" class="button">
    </form>

    <div class="button purcahse centered">
        <p>Buy</p>
    </div>

    <div class="selection">
        <span th:each="fruit : ${fruits}" class="item centered">
            <img src="" alt="">
            <!-- <img src="resources/imgs/Avocado.jpg" /> -->
            <img th:src="@{'imgs/'+${fruit.getImgName()}}">
            <p th:text="${fruit.getName()}">Name</p>
            <p th:text="${fruit.getFreshState()}">Fresh</p>
            <button class="button">Add</button>
        </span>

    </div>

</body>

</html>