<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="../../css/global.css" th:href="@{/css/global.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/loginOrReg.css"
        th:href="@{/css/loginOrReg.css}" />
    <title>Welcome</title>
</head>

<body>

    <button class="button centered"><a href="/">Return to Main!</a></button>

    <div tiles:fragment="content" class="content">
        <div class="login-div">
            <form name="f" th:action="@{/validateUser}" method="post" th:object="${login_user}">
                <h3>Please Login</h3>
                <p th:if="${error}" class="highlight">
                    <span th:text="${error}"></span>
                </p>

                <input type="text" id="username" th:field="*{username}" th:value="${username}" name="username_register"
                    placeholder="User Name" />
                <input type="password" id="password" th:field="*{password}" name="password" placeholder="Password" />
                <div class="form-actions">
                    <button type="submit" class="button">Log in</button>
                </div>
            </form>
        </div>

        <div class="registration-div">
            <form name="f" th:action="@{/register}" method="post" th:object="${user}">
                <h3>Or Register</h3>
                <div th:if="${reg_error}" class="alert alert-error">
                    Username taken!
                </div>
                <div class="highlight" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error
                </div>
                <input type="text" id="username_register" th:field="*{username}" th:value="${username_register}"
                    name="username_register" placeholder="User Name" />
                <br>
                <div class="highlight" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error
                </div>
                <input type="password" id="password_register" th:field="*{password}" name="password_register"
                    placeholder="Password" />
                <div class="form-actions">
                    <button type="submit" class="button">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>